/node_modules
/public/hot
/public/uploads
/public/storage
/public/Modules
/storage/*.key
/vendor

/storage
/config
#/public
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/sshConfigs.xml
/.idea
.idea
/uploads/sample/cookie_data.csv
/resources/lang/ar.json
/resources/lang/lng/

/Modules/ProductService/Resources/lang/*.json
/Modules/Taskly/Resources/lang/*.json
/Modules/Account/Resources/lang/*.json
/Modules/Hrm/Resources/lang/*.json
/Modules/Lead/Resources/lang/*.json
/Modules/Pos/Resources/lang/*.json
/Modules/LandingPage/Resources/lang/*.json
/Modules/VCard/Resources/lang/*.json
/Modules/Zatca/Resources/lang/*.json
/Modules/Contract/Resources/lang/*.json
/Modules/Feedback/Resources/lang/*.json
/Modules/Training/Resources/lang/*.json
/Modules/Razorpay/Resources/lang/*.json
/Modules/Recruitment/Resources/lang/*.json
/Modules/Rotas/Resources/lang/*.json
/Modules/Newsletter/Resources/lang/*.json
/Modules/Sales/Resources/lang/*.json
/Modules/SupportTicket/Resources/lang/*.json
/Modules/AIAssistant/Resources/lang/*.json
/Modules/ActivityLog/Resources/lang/*.json
/Modules/AIDocument/Resources/lang/*.json
/Modules/Calender/Resources/lang/*.json
/Modules/FileSharing/Resources/lang/*.json
/Modules/ZoomMeeting/Resources/lang/*.json
/Modules/EmployeeApi/Resources/lang/*.json
/Modules/Base/Resources/lang/*.json
/Modules/Performance/Resources/lang/*.json
/Modules/Spreadsheet/Resources/lang/*.json
/Modules/WhatsAppAPI/Resources/lang/*.json
/Modules/Commission/Resources/lang/*.json
/Modules/OneDrive/Resources/lang/*.json
/Modules/GoogleDrive/Resources/lang/*.json
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store